# data
data/

# Python
__pycache__/
*.ipynb_checkpoints

# Virtual Environment
.python-version

# Python Package
build/
dist/
*.egg-info/

.env
.envrc
keys/
logs/

# vscode
.vscode/

# dbt build artifacts
dbt/target/
dbt/dbt_modules/
dbt/logs/
